/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


/* header section */
.header-container{
    margin: 0px auto;
    max-width: 1300px;
    border: 1px solid red;
}
.header-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid green;
}
.header-title h2{
    color: #3A3A3A;
}
.navigation{
    display: flex;
}
.navigation ul{
    display: flex;
    align-items: center;
}
.navigation ul li{
    margin-left: 34px;
    list-style-type: none;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 16px;
}


/* second header */
.second-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid tomato;
}
@keyframes header-animation {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.2);
    }
}
.second-header:hover .header-img>img{
    animation: header-animation 3s ease-in-out 0s;
}
.header-desc{
    /* width: 582px; */
    border: 1px solid ;
}
.header-desc h1{
    color: #3A3A3A;
    font-size: 52px;
    margin-bottom: 16px;
}
.header-desc p{
    font-size: 16px;
    margin-bottom: 20px;
}
.header-desc a{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 41px;
    text-decoration: none;
}
.fa-arrow-right{
    margin-left: 8px;
}
.header-img img{
    width: 440px;
    height: 414px;
    border: 1px solid green;
}



/* main part start */
main .container{
    max-width: 1047px;
    margin: 100px auto;
    margin-bottom: 0;
    border: 1px solid red;
}
.popular-collection h2{
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    color: #3A3A3A;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.product-thumbnail img{
    width: 300px;
    height: 256px;
    margin: 17px 15px 16px 14px;
}
.product{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px #AAAAAA;;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.product-info{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}
.product-info h3{
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.product-info h4{
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: normal;
    color: #000000DE;
}
.rating{
    display: flex;
    align-items: center;
}
.rating i{
    width: 16px;
    height: 16px;
    margin-left: 2.47px;
}
.fa-star, .fa-star-half-alt{
    color: #FB8200;
}
.rating p{
    margin-left: 8px;
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}
.product-desc p{
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: #787885;
    font-family: 'Inter', sans-serif;
    margin-top: 0;
}
.see-more{
    text-align: right;
    margin-top: 50px;
}
.see-more a{
    font-size: 16px;
    color: #E02C6DDE;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}



/* bonus part */
.bonus-container{
    max-width: 1047px;
    margin: 0px auto;
    border: 1px solid rgb(119, 0, 255);
    display: flex;
    align-items: center;
}
.text-div{
    margin-left: 5px;
}
.text-div h5{
    font-family: 'Roboto Mono', monospace;
    color: rgb(236, 75, 0);
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
}
.text-div h6{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.text-div p{
    font-size: 14px;
}
.img-div img{
    width: 404px;
    height: 270px;
}



/* footer */

.footer-container{
    margin: 0 auto;
    max-width: 1800px;
    border: 1px solid red;
    background-color: rgb(24, 24, 75);
    color: white;
}
.footer-text{
    text-align: center;
}
.footer-text h3{
    margin-bottom: 3px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.footer-text p{
    margin-top: 0px;
    font-size: 14px;
    font-style: normal;
}
.footer-icon{
    text-align: center;
}
.footer-icon a{
    text-decoration: none;
    color: white;
}
.footer-icon i{
    margin: 0px 8px;
}


/* media queries */
    

/* mobile device */
@media (max-width: 688px) {
    .first-header{
        display: block;
    }
    .header-title{
        text-align: center;
    }
    .header-title h2{
        font-size: 14px;
    }
    .navigation{
        display: none;
    }
    .second-header{
        display: flex;
        flex-direction: column-reverse;
    }
    .header-img img{
        width: 202px;
        height: 190px;
    }
    .header-desc {
        text-align: center;
        margin: 0px 5px;
    }
    .header-desc h1{
        font-size: 28px;
    }
    .container{
        margin: 0px 15px;
    }
    .popular-collection{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .popular-collection h2{
        margin-bottom: 0;
    }
    .products{
        display: flex;
        flex-direction: column;
        border: 1px solid green;
        align-items: center;
    }

    .bonus-container{
        display: flex;
        flex-direction: column;
    }
    .text-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-div h5{
        margin-bottom: 0;
    }
}
/* end of mobile device */


/* for tab */
@media (max-width: 992px) {
    .second-header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .header-desc{
        text-align: center;
    }
    .header-desc h1{
        font-size: 30px;
    }
    .header-desc p{
        font-size: 14px;
    }
    .header-img img{
        width: 202px;
        height: 190px;
    }

    .popular-collection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .bonus-container{
        display: flex;
        flex-direction: column;
    }
    .text-div{
        text-align: center;
    }
    .text-div h5{
        margin-bottom: 0;
    }
}